h1 {
    font-family: 'Times New Roman', sans-serif;
    position: sticky;
    text-align: center;
    transform: translate(0, 150px);
    z-index: 1;
    color: greenyellow;
}

main {
    height: 2em;
    width: 2em;
    margin: auto;
    display: sticky;
    transform: translate(-425px, 10px);
}

main>div {
    margin: auto;
    width: 15%;
    transform: translate(-100px);
}

button {
    width: 10em;
    height: 10em;
    transform: translate(465px, -500px);
    background-color: green;
}